CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt7621=y
CONFIG_TARGET_ramips_mt7621_DEVICE_phicomm_k2p=y

CONFIG_KERNEL_MIPS_FPU_EMULATOR=y

CONFIG_PACKAGE_ip6tables=y
CONFIG_PACKAGE_ipv6helper=y
CONFIG_PACKAGE_iperf3=y
CONFIG_PACKAGE_zerotier=y

CONFIG_PACKAGE_dnsmasq_full_dhcpv6=y
CONFIG_PACKAGE_ddns-scripts_cloudflare.com-v4=y

CONFIG_PACKAGE_luci-theme-argon=y
CONFIG_PACKAGE_luci-proto-ipv6=y
CONFIG_PACKAGE_luci-app-zerotier=y

CONFIG_PACKAGE_luci-app-adbyby-plus=y
CONFIG_PACKAGE_luci-app-jd-dailybonus=y

# CONFIG_PACKAGE_luci-app-filetransfer is not set
# CONFIG_PACKAGE_luci-app-vsftpd is not set
# CONFIG_PACKAGE_luci-app-unblockmusic is not set
# CONFIG_PACKAGE_luci-app-vlmcsd is not set
# CONFIG_DEFAULT_luci-app-qbittorrent is not set
# CONFIG_DEFAULT_luci-app-xlnetacc is not set
# CONFIG_DEFAULT_luci-app-uugamebooster is not set
